{% extends "index.html" %}

          {% block mainTitle %}
            <h1>Obout A.S.M project</h1>
            <span class="subheading">Created by KoronaTeam</span>
          {% endblock %}

  <!-- Page Header -->
    {% block header %}
        <header class="masthead" style="background-image: url('{{ url_for ('static', filename= 'korona-logo.png')}}'); background-color:#20c997; background-size: auto; background-position: right">
    {% endblock %}
  
  <!-- Main Content -->

        {% block content %}
            <p>KoronaTeam consists of four PWSZ students:</p>
            <p>Radosław Kłos,</p>
            <p>Julian Filip,</p>
            <p>Dominik Kuzaka</p>
            <p>and Maciej Rawwo.</p>

        {% endblock %}
