{% extends "index.html" %}

          {% block mainTitle %}
            <h1>Add user</h1>
            <span class="subheading">Enter data for new user</span>
          {% endblock %}

  <!-- Page Header -->
    {% block header %}
      <header class="masthead" style="background-image: url('{{ url_for ('static', filename= 'korona-logo.png')}}'); background-color:#17a2b8; background-size: auto; background-position: left">
    {% endblock %}
            


  <!-- Main Content -->
      {% block content %}
        <form name="addForm" id="addForm" method="POST" action="{{ url_for('adduser') }}" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>First name</label>
              <input type="text" class="form-control" placeholder="First name" name="fName" id="fName" required data-validation-required-message="Enter user's first name">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Last name</label>
              <input type="text" class="form-control" placeholder="Last name" name="lName" id="lName" required data-validation-required-message="Enter user's last name">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>E-mail address</label>
              <input type="text" class="form-control" placeholder="E-mail address" name="email" id="email" required data-validation-required-message="Enter user's e-mail address">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Phone number</label>
              <input type="text" class="form-control" placeholder="Phone number" name="phone" id="phone" required data-validation-required-message="Enter user's phone number as 0048XXXXXXXXX">
              <p class="help-block text-danger"></p>
            </div>
          </div>
            <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Password</label>
              <input type="text" class="form-control" placeholder="Password" name="pass" id="pass" required data-validation-required-message="Create user's password">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Add</button>
          </div>
        </form>
    {% endblock %}
