{% extends "index.html" %}

{% block mainTitle %}
            <h2>Log in</h2>
            <span class="subheading">Log in to be able to edit data</span>
          {% endblock %}

{% block header %}
      <header class="masthead" style="background-image: url('{{ url_for ('static', filename= 'keys.jpg')}}')">
{% endblock %}

{% block content %}

<div class="starter-template">
 <p class="lead">Enter credentials:</p>

    <form action="{{ url_for('login') }}" method="post">
         <p>Login: <input type=text name=username>
         <p>Password: <input type=password name=password>
         <p><input type=submit value=Login>
     </form>
 
 </div>

{% endblock %}